* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100dvh;
    background-color: #222;
}

header {
    text-align: center;
    color: white;
    padding: 2em; 
    background-color: #1116;
}

.content {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 2em;
}


.popup {
    color: #fffa;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    image-rendering: optimizeSpeed;
    padding: 20px;
    border-radius: 20px;
    background-color: #0004;
    width: clamp(100px, 400px, 90dvw);
    height: clamp(100px, 400px, 400px);
    flex-shrink: 0;
}

.discord-popup {
    background-image: url('imgs/dicord-background.jpg');
}

.realm-popup {
    background-image: url('imgs/realm-background.jpg');
}

button {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 12px;
    color: #fff;
    border-radius: 15px;
    transition: scale 0.15s;
}

button:hover {
    scale: 1.015;
}

.realm-button {
    background-color: #47dd3699;
}

.discord-button {
    background-color: #359add99;
}

div h1 {
    padding: 1.5rem;
}